        .paraga {
           /* Define a cor do texto para vermelho */
          font-weight: bold; /* Define o texto em negrito */
        background-color: #0000FF; /* Define um fundo azul */
        }
        .titulo{
                color: #FF0000;
                text-align: center;
                font: sans;
        }
        .botao: hover {
                color: #DD27F5;

        }
                
