        .paraga {
          color: #f00; /* Define a cor do texto para vermelho */
          font-weight: bold; /* Define o texto em negrito */
          background-color: #0000FF; /* Define um fundo azul */
        }
